{% macro statusFilter() %}
<select class="govuk-select" id="statusFilter" name="statusFilter">
  <option value="allStatus" selected>All statuses</option>
  <option value="new" >New application</option>
  <option value="interviewOffered" >Interview offered</option>
  <option value="conditionalOffer" >Conditional offer</option>
  <option value="unconditionalOffer" >Unconditional offer</option>
  <option value="rejected" >Rejected</option>
</select>
{% endmacro %}

{% macro subjectFilter() %}
<select class="govuk-select" id="subjectFilter" name="subjectFilter">
  <option value="allSubjects" selected>All subjects</option>
  <option value="new" >Biology</option>
  <option value="interviewOffered" >Mathematics</option>
  <option value="conditionalOffer" >Primary</option>
  <option value="unconditionalOffer" >Communication and media studies</option>
  <option value="rejected" >Business studies</option>
</select>
{% endmacro %}

{%macro searchBox()%}
<h4 class="govuk-heading-s pageTitle">Search applicants</h4>
<div class="govuk-form-group">
  <input placeholder="Search by applicant name" class="govuk-input search-box" id="search" name="search" type="text" aria-describedby="search by applicant name">
  <a href="searchResults.html" class="search-icon"> <img src="/images/search-icon.png" alt="O"> </a>
</div>
{% endmacro %}

{%macro showAllData()%}
<p>Dumping all data</p>
<p>
{{ data | dump }}
</p>

{% endmacro %}
