// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";

// Patterns that aren't in Frontend
@import "patterns/check-your-answers";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.govuk-breadcrumbs{
  margin-top:10px !important;
  margin-bottom:20px !important;
}
.govuk-main-wrapper{
  padding-top:10px !important;
}
.pageTitle{
  margin-bottom: 5px !important;
}
.dashboard-items{
  margin-top: 50px;
}
.dashboard-items-v2{
  margin-top: 50px;
}
.status-tag{
  padding: 1px 5px 1px 5px;
  display: inline-block;
}
.status-tag p{
  margin-bottom: 0px;
}
.application-sub-section{
  margin-bottom: 0px;
  margin-top: 20px;
}
.application-section{
  clear: both;
  margin-top: 50px;
}
.application-section dt{
  width: 25%;
  margin: 0px 0px 10px 0px;
  float: left;
  clear: both;
}
.application-section dd{
  float: left;
}
.pseudo-p{
  margin: 0px !important;
  padding: 0px !important;
}
.pageSubTitle{
  margin-bottom: 10px;
}
.status-new{
  background: #FFF4E0;
  border-radius: 4px;
  border: 1px solid #ffbf47;
}
.status-in-progress{
  background: #F2F8FF;
  border-radius: 4px;
  border: 1px solid #859BB6;
}
.status-reject{
  background: #FFEAEA;
  border-radius: 4px;
  border: 1px solid #C21515;
}
.status-ok{
  background: #F5F8F0;
  border-radius: 4px;
  border: 1px solid #3B8234;
}
.status-none{
  background: #FFFFFF;
  border-radius: 4px;
  border: 1px solid #9B9B9B;
}
.dashboard-block{
  float: left;
}

.dashboard-block p{
  font-size: 48px;
  font-weight: bold;
  margin:40px;
}
.dashboard-block p span{
  font-size: 16px;
}
.apply-list {

}
.apply-list tbody td{
  padding: 20px 0px 20px 0px !important;
}
.apply-list-header{
  border-top:1px solid #000000;
  border-bottom:1px solid #000000 !important;
}
.list-controls{

}
.manage-list-filter{
  width:200px;
  float: left;
  padding-right: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 0px) {
    .dashboard-block {
        width: 100%;
        margin-bottom: 2%;
    }
}

@media screen and (min-width: 720px) {
    .dashboard-block {
        width: 47%;
        margin-right: 2%;
        margin-bottom: 2%;
    }
    .dashboard-items-v2 .dashboard-block:nth-child(2n+1){
      width: 47%;
      margin-right: 2%;
      margin-bottom: 2%;
    }
    .dashboard-items-v2 .dashboard-block:nth-child(2n+0){
      width: 50%;
      margin-right: 0%;
      margin-bottom: 2%;
    }
}

@media screen and (min-width: 1024px) {
    .dashboard-block {
        width: 31%;
        margin-right: 2%;
        margin-bottom: 2%;
    }
    .dashboard-items-v2 .dashboard-block:nth-child(2n+1){
      width: 47%;
      margin-right: 2%;
      margin-bottom: 2%;
    }
    .dashboard-items-v2 .dashboard-block:nth-child(2n+0){
      width: 50%;
      margin-right: 0%;
      margin-bottom: 2%;
    }
    .search-box{
        width:250px;
    }
    .search-icon{
      background-color: #006435;
      color: #ffffff !important;
      text-decoration: none;
      padding: 7px 15px 7px 15px;
    }
}
.manage-label{
  font-weight: bold;
}
.clearer{
  clear:both;
}
.change-status-meta-data-item{
  float: left;
  padding-right: 20px;
  padding-top: 10px;
}
.change-status-meta-data{

}
.change-status-header{
  padding-top: 20px;
}

.govuk-template__body{
  color: #0b0c0c;
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 19px;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 15px;
}
.manage-button{

}
.clickable{
  cursor: pointer;
}
.notification{
  position: fixed;
  bottom: 50px;
  left:20px;
  color: #ffffff;
  padding:20px;
  background: #000000;
}

.notification a{
  text-decoration: none;
  color: #ffffff;
  padding-left: 20px;
  padding-right: 10px;
}
.summaryTable td{
  vertical-align: top;
  border-bottom: 1px #cccccc solid;
  padding: 10px 0px 10px 0px;
}
.summaryTable td:first-child{
  width: 30%;
  font-weight: bold;
}
.summaryTable td:nth-child(2){
  width:50%;
}
.application-section-list{
  padding-left: 20px;
}
.application-section-list li{
  padding:15px 0px 15px 0px;
  border-bottom: 1px solid #999999;
}
.application-section-list li:first-child{
  border-top: 1px solid #999999;
}

.actions-section{
  margin-top:50px;
}
.address-box{
  width:200px;
}
.secondary-button{
  background: #005ea5 !important;
  margin-top:20px;
}
.change-postcode{
  padding-bottom: 20px;
}
.change-postcode a{
  padding-left: 20px;
}
.bold-label{
  font-weight: bold;
}
.subject-module{
  margin-bottom: 20px;
}
.margin-top-50{
  margin-top:20px;
}
.form-sub-section{
  margin-top:100px;
}
.form-secondary-section{
  margin-top:60px;
}
