
{% extends "layout.html" %}

{% block pageTitle %}
New Applications - Manage ITT applications
{% endblock %}

{% block content %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
    beta
  </strong>
  <span class="govuk-phase-banner__text">
    This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
  </span>
</p>
</div>
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../allApplications.html">All applications</a>
    </li>

  </ol>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l pageTitle">Application for</h1>
    <h3 class="govuk-heading-s pageSubTitle">Communication and media studies, 2018/19</h3>
    <div class="status-in-progress status-tag"><p>New application</p></div>

    <div class="application-section">
      <h2 class="govuk-heading-m">Candidate details</h2>
      <dl>
        <dt><p class="pseudo-p">First name</p></dt>
        <dd><p class="pseudo-p">Sam</p></dd>
        <dt><p class="pseudo-p">Last name</p></dt>
        <dd><p class="pseudo-p">Fairley</p></dd>
        <dt><p class="pseudo-p">Date of birth</p></dt>
        <dd><p class="pseudo-p">10/09/1995</p></dd>
        <dt><p class="pseudo-p">Nationality</p></dt>
        <dd><p class="pseudo-p">UK</p></dd>
        <dt><p class="pseudo-p">Phone</p></dt>
        <dd><p class="pseudo-p">07588186738</p></dd>
        <dt><p class="pseudo-p">Home address</p></dt>
        <dd><p class="pseudo-p">9 Glenfrith Close Mountsorrel</br> LE127GB</p></dd>
        <dt><p class="pseudo-p">Address for post</p></dt>
        <dd><p class="pseudo-p">9 Glenfrith Close Mountsorrel</br> LE127GB</p></dd>
      </dl>
    </div>
    <div class="application-section">
      <h2 class="govuk-heading-m">Qualifications</h2>
      <div>
        <h3 class="govuk-heading-s application-sub-section">GCSEs or equivalent</h3>
        <p class="pseudo-p">
          GCSE MATHS C GRADE 2012</br>
          GCSE ENGLISH LIT AND LANGUAGE GRADE c 2012
        </p>
        <h3 class="govuk-heading-s application-sub-section">Degree</h3>
        <p class="pseudo-p">
          BA in Film Productions UCLAN</br></br>Thought out my degree i have learned too produce films in their entirety. From pre and post production to scriptwriting and editing. I would be able to take a class of pupils through all stages of the film making process. I would be able to take a assignment and speak my pupils about every element of the film making process. I can take pupils through how to formulate a script, create the required documentation and even how to get there film funded and produced.
        </p>
        <h3 class="govuk-heading-s application-sub-section">Other relevant qualifications</h3>
        <p class="pseudo-p">
          I have strong GCSE'S IN English and maths as well as ICT and science creating a well rounded knowledge base. And through college I got a BTEC in Mutli Media Production and coupled with my foundation degree and ounce completed my film production degree will enable me to impart my information across to my pupils.
        </p>
      </div>
    </div>
    <div class="application-section">
      <h2 class="govuk-heading-m">Teaching motivation and experience</h2>
      <div>
        <h3 class="govuk-heading-s application-sub-section">Why do you want to become a teacher?</h3>
        <p class="pseudo-p">
          My professional need to teach stems from my wish to help pupils in the same way a few teachers have helped me. To create within my pupils a sense of wonderment and fascination for what I feel is a beautiful art form. And to be able to inspire and captivate the potential minds of future film makers. I want a career rather than a job, one that I can be proud of and can lead me to a very long and happy working life. My passion for education and to hope to enstill the same virtues that past teachers have given me. The potential to be able to inspire and craft ideas with pupils excites me. The ever changing and ever evolving world we live in would be bolstered fanatasciLly by teaching. To have a career that I can be proud of and one that allows me to be social and also allows me a fair bit of control over my lessons is a career for me.
        </p>
        <h3 class="govuk-heading-s application-sub-section">What makes you a good potential teacher?</h3>
        <p class="pseudo-p">
          I am a fantastic communicator, I spend all my spare time chatting and socialising with friends and family and to be able to take that into working life would be ideal. I am relatable and can take ideas and critique on board to develop as a person. I am able concisely deliver information to people via a range of methods. I also have a deep passion for education and to help the next generation to reach their goals and to help with there passions. I have fantastic interpersonal skills and can learn from others and I feel i an well received my most people that I speak too. I am caring and passionate so unwell be able to help my pupils with work as well as other issues they may be facing . As well as a great knowledge of films it’s practices.
        </p>
        <h3 class="govuk-heading-s application-sub-section">Your experience working with children or in a school</h3>
        <p class="pseudo-p">
          I worked at Cobden Primary school, assisting the teacher with every thing from work to activities inside and outside during lunch and Friday afternoons. I also helped out at St Barts Primary school to help with a program called rights to read where I helped struggling pupils with reading, giving one to one help when they were falling behind.
        </p>
      </div>
    </div>
    <div class="application-section">
      <h2 class="govuk-heading-m">Work history</h2>
      <div>
        <p class="pseudo-p">
          Since the age of 17 I have worked in bars and shops, giving me the personal skills I have developed. And I have gained the insight and ability to converse with a large group of people and dealing with drunken people in bars has enabled me to understand crowd control.
        </p>
      </div>
    </div>
    <div class="application-section">
      <a href="#">Download application</a></br>
      <a href="#">Change status</a>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <a href="#">Download application</a></br>
    <a href="#">Change status</a>
  </div>
</div>

{% endblock %}
