
{% extends "layout.html" %}

{% block pageTitle %}
New Applications - Manage ITT applications
{% endblock %}

{% block content %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
    beta
  </strong>
  <span class="govuk-phase-banner__text">
    This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
  </span>
</p>
</div>
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../newApplications.html">New applications</a>
    </li>

  </ol>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l pageTitle">Application for</h1>
    <h3 class="govuk-heading-s pageSubTitle">Communication and media studies, 2018/19</h3>
    <div class="status-none status-tag"><p>New</p></div>

    <div class="application-section">
      <h2 class="govuk-heading-m">Candidate details</h2>
      <dl>
        <dt><p class="pseudo-p">First name</p></dt>
        <dd><p class="pseudo-p">Sam</p></dd>
        <dt><p class="pseudo-p">Last name</p></dt>
        <dd><p class="pseudo-p">Fairley</p></dd>
        <dt><p class="pseudo-p">Date of birth</p></dt>
        <dd><p class="pseudo-p">10/09/1995</p></dd>
        <dt><p class="pseudo-p">Nationality</p></dt>
        <dd><p class="pseudo-p">UK</p></dd>
        <dt><p class="pseudo-p">Phone</p></dt>
        <dd><p class="pseudo-p">07588186738</p></dd>
        <dt><p class="pseudo-p">Home address</p></dt>
        <dd><p class="pseudo-p">9 Glenfrith Close Mountsorrel</br> LE127GB</p></dd>
        <dt><p class="pseudo-p">Address for post</p></dt>
        <dd><p class="pseudo-p">9 Glenfrith Close Mountsorrel</br> LE127GB</p></dd>
      </dl>
    </div>
    
    <div class="application-section">
    <p>
      This is dummy content for now.
    </p>
    <p>
      Enim hic quo ut accusantium. Ea consequatur itaque explicabo aliquam. Ipsum doloribus labore voluptas eos incidunt. Expedita repudiandae voluptate ratione vitae quisquam maiores sequi. Fuga vel sed laudantium repellat velit ullam omnis ducimus.
    </p>
    <p>
      Reprehenderit aperiam consequatur atque quis. Similique et alias omnis ipsam assumenda modi odio cumque. Placeat et facere similique aperiam sunt exercitationem provident.
    </p>
    <p>
      Distinctio molestias neque molestiae quo itaque error ut. Sequi quisquam libero quasi cumque aut sed tempore. Sint voluptatem eveniet et quo odio laborum. Ut nulla maxime suscipit sed.
    </p>
    <p>
      Et rerum ut dignissimos voluptate architecto beatae. Id qui dolores nihil illo ut quasi. Maiores optio laudantium aut maiores nobis quos unde. Ipsum occaecati porro enim fuga provident accusamus et.
    </p>
    <p>
      Velit nesciunt reprehenderit laboriosam neque cupiditate tempore omnis voluptatem. Consectetur et animi porro cumque magni aut nihil. Esse rem unde molestiae qui voluptatem atque aut ut. Est ipsam eum assumenda velit et. Architecto sapiente quos quis beatae et molestiae.
    </p>
  </div>
    <div class="application-section">
      <div>
        <a href="../changeStatus.html" class="govuk-button">Change status</a>
      </div>
      <a href="#">Download application</a>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div>
      <a href="../changeStatus.html" class="govuk-button">Change status</a>
    </div>
    <a href="#">Download application</a>
  </div>
</div>

{% endblock %}
