{% extends "layout.html" %}

{% block pageTitle %}
News - Manage ITT applications
{% endblock %}

{% block content %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  beta
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="index.html">Home</a>
    </li>
  </ol>
</div>
<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l pageTitle">New applications</h1>
          <p class="govuk-body">Applications received for the recruitment year 2018-19</p>
        </div>
        <div class="govuk-grid-column-one-third">
          {{macros.searchBox()}}
        </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
    <div class="">
      <div class="list-controls">
        <div class="govuk-form-group manage-list-filter">
          <select class="govuk-select" id="sort" name="sort">
            <option value="none" >Select status</option>
            <option value="new" selected>New </option>
            <option value="inReview" >In review </option>
            <option value="recruited" >Recruited </option>
            <option value="rejected" >Rejected </option>
          </select>
        </div>
        <div class="govuk-form-group manage-list-filter">
          <select class="govuk-select" id="sort" name="sort">
            <option value="published" selected>All courses</option>
          </select>
        </div>
      </div>
      <table class="govuk-table apply-list">
        <thead class="govuk-table__head apply-list-header">
          <tr class="govuk-table__row">
            <th class="govuk-table__header apply-list-header" scope="col">First name</th>
            <th class="govuk-table__header apply-list-header" scope="col">Last name</th>
            <th class="govuk-table__header apply-list-header" scope="col">Status</th>
            <th class="govuk-table__header apply-list-header" scope="col">Course</th>
            <th class="govuk-table__header apply-list-header" scope="col">Received on</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell "><a href="applications/application.html">Alexandra</a></td>
            <td class="govuk-table__cell "><a href="applications/application.html">Beckam</a></td>
            <td class="govuk-table__cell "><div class="status-none status-tag">New</div></td>
            <td class="govuk-table__cell ">Biology</td>
            <td class="govuk-table__cell ">23 Jun 2018</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell "><a href="applications/application.html">Becky</a></td>
            <td class="govuk-table__cell "><a href="applications/application.html">Brother</a></td>
            <td class="govuk-table__cell "><div class="status-none status-tag">New</div></td>
            <td class="govuk-table__cell ">Communication and media studies</td>
            <td class="govuk-table__cell ">23 Jun 2018</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell "><a href="applications/application.html">Charlie</a></td>
            <td class="govuk-table__cell "><a href="applications/application.html">April</a></td>
            <td class="govuk-table__cell "><div class="status-none status-tag">New</div></td>
            <td class="govuk-table__cell ">Chemistry</td>
            <td class="govuk-table__cell ">23 Jun 2018</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell "><a href="applications/application.html">Charlotte</a></td>
            <td class="govuk-table__cell "><a href="applications/application.html">Campbel</a></td>
            <td class="govuk-table__cell "><div class="status-none status-tag">New</div></td>
            <td class="govuk-table__cell ">Biology</td>
            <td class="govuk-table__cell ">23 Jun 2018</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell "><a href="applications/application.html">Daniel</a></td>
            <td class="govuk-table__cell "><a href="applications/application.html">Jenning</a></td>
            <td class="govuk-table__cell "><div class="status-none status-tag">New</div></td>
            <td class="govuk-table__cell ">Mathematics</td>
            <td class="govuk-table__cell ">23 Jun 2018</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div id="notification" class="notification">
  Application status of Sam Fairley changed to In-review<span><a href="newApplications.html">x</a></span>
</div>
<script type="text/javascript">
function notify(){
  var query = window.location.search.substring(1);
  var pair = query.split("=");
  notification = document.getElementById("notification");
  if(pair[1] == 1){
    notification.style.display="block";
  }
  else {
    notification.style.display="none";
  }
}
window.onload = notify;
</script>
{% endblock %}
