{% extends "layout.html" %}

{% block pageTitle %}
Home - Manage ITT applications
{% endblock %}

{% block content %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
    beta
  </strong>
  <span class="govuk-phase-banner__text">
    This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
  </span>
</p>
</div>
<a href="#" class="govuk-back-link" onclick="window.history.back();">Back</a>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Education
    </h1>
    <form action="index.html" id="education_details_form">
    <h3 class="govuk-heading-s">To be eligible for teacher training, you need a:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>UK degree (or international equivalent)</li>
      <li>GCSE in Maths, grade 4 (previously grade C)</li>
      <li>GCSE in English, grade 4 (previously grade C)</li>
    </ul>
    <p>To teach at primary school, you also need a minimum grade 4 GCSE in science. You can learn more about eligibility at <a href="https://getintoteaching.education.gov.uk/eligibility-for-teacher-training" target="_blank">Get into Teaching</a>.
    </p>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          I don’t have GCSEs in maths and English
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>You can also be accepted onto a course if you have older qualifications like O levels or international qualifications equivalent to GCSEs.
        </p>
        <p>
          If you don’t have the right GCSE or its equivalent yet, you can still apply. Your training provider can help you get the right qualification in time for your course.
        </p>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <label class="govuk-label bold-label">
              Is there anything you’d like to tell us about missing GCSE qualifications?
            </label>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input {{checked('missingGCSE','missing-GCSE-yes')}} class="govuk-radios__input" id="missing-GCSE-yes" name="missingGCSE" type="radio" value="missing-GCSE-yes" onclick="missing_GCSE(this);">
                <label class="govuk-label govuk-radios__label" for="missing-GCSE-yes">
                  Yes
                </label>
                <div id="missing-GCSE-details" style="display:none;" class="govuk-inset-text">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="reason">
                      Please give details
                    </label>
                    <textarea value="{{data['missingGCSE_details']}}" class="govuk-textarea" id="missingGCSE_details" name="missingGCSE_details" rows="5" aria-describedby="more-detail-hint"></textarea>
                  </div>
                </div>
              </div>

              <div class="govuk-radios__item">
                <input {{checked('missingGCSE','missing-GCSE-no')}} class="govuk-radios__input" id="missing-GCSE-no" name="missingGCSE" type="radio" value="missing-GCSE-no" onclick="missing_GCSE(this);">
                <label class="govuk-label govuk-radios__label" for="missing-GCSE-no">
                  No
                </label>
              </div>

            </div>
          </fieldset>
        </div>
      </div>
    </details>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          I studied for my qualifications outside the UK
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>If you studied for your degree or GCSE equivalents overseas, have you checked your qualifications are recognised in the UK?
        </p>
        <p>
          If not, please <a href="https://www.naric.org.uk/naric/Individuals/Default.aspx" target="_blank">visit UK NARIC</a> for help validating your qualifications. You’ll need a <a href="https://www.naric.org.uk/naric/Individuals/Compare%20Qualifications/Statement%20of%20Comparability.aspx" target="_blank">statement of comparability</a> to show to your training provider.
        </p>
      </div>
    </details>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          I haven't completed my degree
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>If you are still studying, give us your predicted grade and date of graduation.
          If there's another reason why you didn't complete your degree, your training provider may be able to help.
        </p>
        <div class="govuk-form-group">
          <label class="govuk-label" for="more-detail">
            Please give details
          </label>

          <textarea value="{{data['degree-incomplete-detail']}}" class="govuk-textarea" id="degree-incomplete-detail" name="degree-incomplete-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
        </div>
      </div>
    </details>
    <h3 class="govuk-heading-m form-sub-section">UK degree details</h3>
    <p>Start by giving us your degree for the subject you’d like to teach. You’ll then have the option to add other degrees.</p>

    <div class="govuk-form-group">
      <label class="govuk-label" for="uk-degree-type">
        Type
      </label>
      <span id="uk-degree-type-hint" class="govuk-hint">
        For example, BA, BSc, Masters, Phd, or other, please specify
      </span>
      <input value="{{data['uk-degree-type']}}" class="govuk-input address-box" id="uk-degree-type" name="uk-degree-type" type="text" aria-describedby="uk-degree-type">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="uk-degree-subject">
        Subject of degree
      </label>
      <input  value="{{data['uk-degree-subject']}}" class="govuk-input" id="uk-degree-subject" name="uk-degree-subject" type="text" aria-describedby="uk-degree-subject">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="uk-degree-institution">
        Institution where you studied
      </label>
      <input value="{{data['uk-degree-institution']}}" class="govuk-input" id="uk-degree-institution" name="uk-degree-institution" type="text" aria-describedby="uk-degree-institution">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="uk-degree-institution">
        Class of degree
      </label>
      <span class="govuk-hint">For example, 2.1</span>
      <input value="{{data['uk-degree-class']}}" class="govuk-input" id="uk-degree-class" name="uk-degree-class" type="text" aria-describedby="uk-degree-institution">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="uk-degree-year">
        Year qualification was awarded
      </label>
      <input value="{{data['uk-degree-year']}}" class="govuk-input address-box" id="uk-degree-year" name="uk-degree-year" type="text" aria-describedby="uk-degree-year">
    </div>

    <h3 class="govuk-heading-s">Degree course modules </h3>
    <p>
      Give details of your course content to help your training provider understand the range of subjects you could teach.
    </p>
    <div id="listOfMudules">
      <input value="{{data['uk-subject-module1']}}" class="govuk-input subject-module" name="uk-subject-module1" type="text" aria-describedby="subject-module">
      <input value="{{data['uk-subject-module2']}}" class="govuk-input subject-module" name="uk-subject-module2" type="text" aria-describedby="subject-module">
      <input value="{{data['uk-subject-module3']}}" class="govuk-input subject-module" name="uk-subject-module3" type="text" aria-describedby="subject-module">
    </div>
    <a class="govuk-button secondary-button" href="javascript:addModules()" >Add another </a>
    <div class="govuk-form-group form-secondary-section">
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Add another degree (optional)
          </span>
        </summary>
        <div class="govuk-details__text">
          <div class="govuk-form-group">
            <label class="govuk-label" for="uk-other-degree-type">
              Type
            </label>
            <span id="uk-other-degree-type-hint" class="govuk-hint">
              For example, BA, BSc, Masters, Phd, or other, please specify
            </span>
            <input value="{{data['uk-other-degree-type']}}" class="govuk-input" id="uk-other-degree-type" name="uk-other-degree-type" type="text" aria-describedby="uk-other-degree-type">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="uk-other-degree-subject">
              Subject of degree
            </label>
            <input value="{{data['uk-other-degree-subject']}}" class="govuk-input" id="uk-other-degree-subject" name="uk-other-degree-subject" type="text" aria-describedby="uk-other-degree-subject">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="uk-other-degree-institution">
              Institution where you studied
            </label>
            <input value="{{data['uk-other-degree-institution']}}" class="govuk-input" id="uk-other-degree-institution" name="uk-other-degree-institution" type="text" aria-describedby="uk-other-degree-institution">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="uk-other-degree-class">
              Class of degree
            </label>
            <span class="govuk-hint">For example, 2.1</span>
            <input value="{{data['uk-other-degree-class']}}" class="govuk-input" id="uk-other-degree-class" name="uk-other-degree-class" type="text" aria-describedby="uk-other-degree-class">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="uk-other-degree-year">
              Year qualification was awarded
            </label>
            <input value="{{data['uk-other-degree-year']}}" class="govuk-input address-box" id="uk-other-degree-year" name="uk-other-degree-year" type="text" aria-describedby="uk-other-degree-year">
          </div>
          <a  class="govuk-button secondary-button" href="javascript:addRow('otherDegreeDiv',['uk-other-degree-type','uk-other-degree-subject','uk-other-degree-institution','uk-other-degree-class','uk-other-degree-year'])">Add another</a>
          <div class="govuk-form-group" id="otherDegreeDiv" style="display:none;">
            <table class="govuk-table" id="otherDegreeDivTable">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">
                  Type
                </th>
                <th class="govuk-table__header" scope="col">
                  Subject
                </th>
                <th class="govuk-table__header" scope="col">
                  Institute
                </th>
                <th class="govuk-table__header" scope="col">
                  Class
                </th>
                <th class="govuk-table__header" scope="col">
                  Year
                </th>
              </tr>
              </thead>
              <tbody class="govuk-table__body">
              </tbody>
            </table>
          </div>
        </div>

      </details>
    </div>

    <div class="govuk-form-group form-secondary-section">
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            International degree details
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>
            Start by giving us your degree for the subject you’d like to teach. You’ll then have the option to add other degrees.
          </p>
          <div class="govuk-form-group">
            <label class="govuk-label" for="international-degree-type">
              Type of degree
            </label>
            <input value="{{data['international-degree-type']}}" class="govuk-input" id="international-degree-type" name="international-degree-type" type="text" aria-describedby="international-degree-type">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="international-degree-subject">
              Subject of degree
            </label>
            <input value="{{data['international-degree-subject']}}" class="govuk-input" id="international-degree-subject" name="international-degree-subject" type="text" aria-describedby="international-degree-subject">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="international-degree-institution">
              Institution where you studied
            </label>
            <input value="{{data['international-degree-institution']}}" class="govuk-input" id="international-degree-institution" name="international-degree-institution" type="text" aria-describedby="international-degree-institution">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="uk-degree-institution">
              Class of degree
            </label>
            <span class="govuk-hint">For example, 2.1</span>
            <input value="{{data['international-degree-class']}}" class="govuk-input" id="international-degree-class" name="international-degree-class" type="text" aria-describedby="international-degree-class">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="international-degree-year">
              Year qualification was awarded
            </label>
            <input value="{{data['international-degree-year']}}" class="govuk-input address-box" id="international-degree-year" name="international-degree-year" type="text" aria-describedby="international-degree-year">
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <label class="govuk-label">
                Have you applied to <a href="https://www.naric.org.uk/naric/Individuals/Default.aspx">UK NARIC</a> to validate this qualification?
              </label>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input {{ checked('degree-naric','degree-naric-yes') }} class="govuk-radios__input" id="degree-naric-yes" name="degree-naric" type="radio" value="degree-naric-yes" onclick="naricDetails(this,'degree-naric-details','degree-naric-yes')">
                  <label  class="govuk-label govuk-radios__label" for="degree-naric-yes" >
                    Yes
                  </label>
                  <div id="degree-naric-details" class="govuk-form-group govuk-inset-text" style="display:none;">
                    <label class="govuk-label" for="naric-details-text">
                      Please enter the UK comparison grade from your statement of comparability
                    </label>
                    <textarea class="govuk-textarea" id="naric-details-text" name="naric-details-text" rows="5" aria-describedby="mnaric-details-text"></textarea>
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input {{ checked('degree-naric','degree-naric-no') }} class="govuk-radios__input" id="degree-naric-no" name="degree-naric" type="radio" value="degree-naric-no" onclick="naricDetails(this,'degree-naric-details','degree-naric-yes')">
                  <label class="govuk-label govuk-radios__label" for="degree-naric-no">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="govuk-form-group">
            <h3 class="govuk-heading-s">Degree course modules </h3>
            <p>
              Give details of your course structure and content to help your training provider understand the range of subjects you could teach.
            </p>
            <input value="{{data['international-subject-module1']}}" class="govuk-input subject-module" name="international-subject-module1" type="text" aria-describedby="subject-module">
            <input value="{{data['international-subject-module1']}}" class="govuk-input subject-module" name="international-subject-module2" type="text" aria-describedby="subject-module">
            <input value="{{data['international-subject-module1']}}" class="govuk-input subject-module" name="international-subject-module3" type="text" aria-describedby="subject-module">
            <a href="#" class="govuk-button secondary-button">Add another</a>
        </div>

        <div class="govuk-form-group form-secondary-section">
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Add another degree (optional)
              </span>
            </summary>
            <div class="govuk-details__text">
              <div class="govuk-form-group">
                <label class="govuk-label" for="international-other-degree-type">
                  Type
                </label>
                <span id="international-other-degree-type-hint" class="govuk-hint">
                  For example, BA, BSc, Masters, Phd, or other, please specify
                </span>
                <input value="{{data['international-other-degree-type']}}" class="govuk-input" id="international-other-degree-type" name="international-other-degree-type" type="text" aria-describedby="international-other-degree-type">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="international-other-degree-subject">
                  Subject of degree
                </label>
                <input value="{{data['international-other-degree-subject']}}" class="govuk-input" id="international-other-degree-subject" name="international-other-degree-subject" type="text" aria-describedby="international-other-degree-subject">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="international-other-degree-institution">
                  Institution where you studied
                </label>
                <input value="{{data['international-other-degree-institution']}}" class="govuk-input" id="international-other-degree-institution" name="international-other-degree-institution" type="text" aria-describedby="international-other-degree-institution">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="international-other-degree-class">
                  Class of degree
                </label>
                <span class="govuk-hint">For example, 2.1</span>
                <input value="{{data['international-other-degree-class']}}" class="govuk-input" id="international-other-degree-class" name="international-other-degree-class" type="text" aria-describedby="international-other-degree-class">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="international-other-degree-year">
                  Year qualification was awarded
                </label>
                <input value="{{data['international-other-degree-year']}}" class="govuk-input address-box" id="international-other-degree-year" name="international-other-degree-year" type="text" aria-describedby="international-other-degree-year">
              </div>

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <label class="govuk-label">
                    Have you applied to <a href="https://www.naric.org.uk/naric/Individuals/Default.aspx">UK NARIC</a> to validate this qualification?
                  </label>
                  <div class="govuk-radios">
                    <div class="govuk-radios__item">
                      <input {{checked('naric-other','naric-other-yes')}} class="govuk-radios__input" id="naric-other-yes" name="naric-other" type="radio" value="naric-other-yes" onclick="naricDetails(this,'naric-details-other')">
                      <label class="govuk-label govuk-radios__label" for="naric-other-yes" >
                        Yes
                      </label>
                      <div id="naric-details-other" class="govuk-form-group govuk-inset-text" style="display:none;">
                        <label class="govuk-label" for="naric-details-text">
                          Please enter the UK comparison grade from your statement of comparability
                        </label>
                        <textarea class="govuk-textarea" id="naric-details-text" name="naric-details-text" rows="5" aria-describedby="mnaric-details-text"></textarea>
                      </div>
                    </div>
                    <div class="govuk-radios__item">
                      <input {{checked('naric-other','naric-other-no')}} class="govuk-radios__input" id="naric-other-no" name="naric-other" type="radio" value="naric-other-no" onclick="naricDetails(this,'naric-details-other')">
                      <label class="govuk-label govuk-radios__label" for="naric-no">
                        No
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>

              <a href="#" class="govuk-button secondary-button">Add another</a>
            </div>
          </details>
        </div>

        </div>
      </details>
    </div>

    <h3 class="govuk-heading-m form-sub-section">Maths GCSE or equivalent details</h3>
    <div class="govuk-form-group">
      <label class="govuk-label" for="maths-gcse-type">
        Type
      </label>
      <span id="maths-gcse-hint" class="govuk-hint">
        GCSE, O level, or other, please specify
      </span>
      <input value="{{data['maths-gcse-type']}}" class="govuk-input" id="maths-gcse-type" name="maths-gcse-type" type="text" aria-describedby="maths-gcse-type">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="maths-gcse-institute">
        Institution where you studied
      </label>
      <input value="{{data['maths-gcse-institute']}}" class="govuk-input" id="maths-gcse-institute" name="maths-gcse-institute" type="text" aria-describedby="maths-gcse-institute">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="maths-gcse-grade">
        Grade
      </label>
      <input value="{{data['maths-gcse-grade']}}" class="govuk-input" id="maths-gcse-grade" name="maths-gcse-grade" type="text" aria-describedby="maths-gcse-grade">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="maths-gcse-year">
        Year
      </label>
      <input value="{{data['maths-gcse-year']}}" class="govuk-input address-box" id="maths-gcse-year" name="maths-gcse-year" type="text" aria-describedby="maths-gcse-year">
    </div>

    <h3 class="govuk-heading-m form-sub-section">English GCSE or equivalent details</h3>
    <div class="govuk-form-group">
      <label class="govuk-label" for="english-gcse-type">
        Type
      </label>
      <span id="maths-gcse-hint" class="govuk-hint">
        GCSE, O level, or other, please specify
      </span>
      <input value="{{data['english-gcse-type']}}" class="govuk-input" id="english-gcse-type" name="english-gcse-type" type="text" aria-describedby="english-gcse-type">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="english-gcse-institute">
        Institution where you studied
      </label>
      <input value="{{data['english-gcse-institute']}}" class="govuk-input" id="english-gcse-institute" name="english-gcse-institute" type="text" aria-describedby="english-gcse-institute">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="english-gcse-grade">
        Grade
      </label>
      <input value="{{data['english-gcse-grade']}}" class="govuk-input" id="english-gcse-grade" name="english-gcse-grade" type="text" aria-describedby="english-gcse-grade">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="english-gcse-year">
        Year
      </label>
      <input value="{{data['english-gcse-year']}}" class="govuk-input address-box" id="english-gcse-year" name="english-gcse-year" type="text" aria-describedby="english-gcse-year">
    </div>

    <h3 class="govuk-heading-m form-sub-section">Science GCSE or equivalent details (for primary applicants only) </h3>
    <div class="govuk-form-group">
      <label class="govuk-label" for="science-gcse-type">
        Type
      </label>
      <span id="science-gcse-hint" class="govuk-hint">
        GCSE, O level, or other, please specify
      </span>
      <input value="{{data['science-gcse-type']}}" class="govuk-input" id="science-gcse-type" name="science-gcse-type" type="text" aria-describedby="science-gcse-type">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="science-gcse-institute">
        Institution where you studied
      </label>
      <input value="{{data['science-gcse-institute']}}" class="govuk-input" id="science-gcse-institute" name="science-gcse-institute" type="text" aria-describedby="science-gcse-institute">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="science-gcse-grade">
        Grade
      </label>
      <input value="{{data['science-gcse-grade']}}" class="govuk-input" id="science-gcse-grade" name="science-gcse-grade" type="text" aria-describedby="science-gcse-grade">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="science-gcse-year">
        Year
      </label>
      <input value="{{data['science-gcse-year']}}" class="govuk-input address-box" id="science-gcse-year" name="science-gcse-year" type="text" aria-describedby="science-gcse-year">
    </div>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          International Maths, English and Science qualification details
        </span>
      </summary>
      <div class="govuk-details__text">
        <h3 class="govuk-heading-m">Maths</h3>
        <div class="govuk-form-group">
          <label class="govuk-label" for="international-maths-gcse-type">
            Type of qualification
          </label>
          <input value="{{data['international-maths-gcse-type']}}" class="govuk-input" id="international-maths-gcse-type" name="international-maths-gcse-type" type="text" aria-describedby="international-maths-gcse-type">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="maths-gcse-institute">
            Institution where you studied
          </label>
          <input value="{{data['international-maths-gcse-institute']}}" class="govuk-input" id="international-maths-gcse-institute" name="international-maths-gcse-institute" type="text" aria-describedby="international-maths-gcse-institute">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="international-maths-gcse-grade">
            Grade
          </label>
          <input value="{{data['international-maths-gcse-grade']}}" class="govuk-input" id="international-maths-gcse-grade" name="international-maths-gcse-grade" type="text" aria-describedby="international-maths-gcse-grade">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="maths-gcse-year">
            Year
          </label>
          <input value="{{data['international-maths-gcse-year']}}" class="govuk-input address-box" id="international-maths-gcse-year" name="international-maths-gcse-year" type="text" aria-describedby="international-maths-gcse-year">
        </div>

        <h3 class="govuk-heading-m form-sub-section">English</h3>
        <div class="govuk-form-group">
          <label class="govuk-label" for="english-gcse-type">
            Type of qualification
          </label>
          <input value="{{data['international-english-gcse-type']}}" class="govuk-input" id="international-english-gcse-type" name="international-english-gcse-type" type="text" aria-describedby="international-english-gcse-type">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="english-gcse-institute">
            Institution where you studied
          </label>
          <input value="{{data['international-english-gcse-institute']}}" class="govuk-input" id="international-english-gcse-institute" name="international-english-gcse-institute" type="text" aria-describedby="international-english-gcse-institute">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="english-gcse-grade">
            Grade
          </label>
          <input value="{{data['international-english-gcse-grade']}}" class="govuk-input" id="international-english-gcse-grade" name="international-english-gcse-grade" type="text" aria-describedby="international-english-gcse-grade">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="english-gcse-year">
            Year
          </label>
          <input value="{{data['international-english-gcse-year']}}" class="govuk-input address-box" id="international-english-gcse-year" name="international-english-gcse-year" type="text" aria-describedby="international-english-gcse-year">
        </div>

        <h3 class="govuk-heading-m form-sub-section">Science (for primary applicants only) </h3>
        <div class="govuk-form-group">
          <label class="govuk-label" for="science-gcse-type">
            Type of qualification
          </label>
          <input value="{{data['international-science-gcse-type']}}" class="govuk-input" id="international-science-gcse-type" name="international-science-gcse-type" type="text" aria-describedby="international-science-gcse-type">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="international-science-gcse-institute">
            Institution where you studied
          </label>
          <input class="govuk-input" id="international-science-gcse-institute" name="international-science-gcse-institute" type="text" aria-describedby="international-science-gcse-institute">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="international-science-gcse-grade">
            Grade
          </label>
          <input class="govuk-input" id="international-science-gcse-grade" name="international-science-gcse-grade" type="text" aria-describedby="international-science-gcse-grade">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="international-science-gcse-year">
            Year
          </label>
          <input class="govuk-input address-box" id="international-science-gcse-year" name="international-science-gcse-year" type="text" aria-describedby="international-science-gcse-year">
        </div>
      </div>
    </details>
    <h2 class="govuk-heading-m form-sub-section">Add other relevant qualifications</h2>
    <p>
      Enter your remaining GCSEs, A levels, and any practical, vocational or arts-based qualifications. You can also give details of international qualifications.
    </p>
    <h3 class="govuk-heading-s">GCSEs or equivalent</h3>
    <div class="govuk-form-group">
      <label class="govuk-label" for="other-GCSE-type">
        Type
      </label>
      <span class="govuk-hint">
        GCSE, O level or other, please specify
      </span>
      <input value="{{data['other-GCSE-type']}}" class="govuk-input" id="other-GCSE-type" name="other-GCSE-type" type="text" aria-describedby="other-GCSE-type">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="other-GCSE-subject">
        Subject
      </label>
      <input value="{{data['other-GCSE-subject']}}" class="govuk-input" id="other-GCSE-subject" name="other-GCSE-subject" type="text" aria-describedby="other-GCSE-subject">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="other-GCSE-institute">
        Institution where you studied
      </label>
      <input value="{{data['other-GCSE-institute']}}" class="govuk-input" id="other-GCSE-institute" name="other-GCSE-institute" type="text" aria-describedby="other-GCSE-institute">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="other-GCSE-grade">
        Grade
      </label>
      <input value="{{data['other-GCSE-grade']}}" class="govuk-input" id="other-GCSE-grade" name="other-GCSE-grade" type="text" aria-describedby="other-GCSE-grade">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="other-GCSE-year">
        Year
      </label>
      <input value="{{data['other-GCSE-year']}}" class="govuk-input address-box" id="other-GCSE-year" name="other-GCSE-year" type="text" aria-describedby="other-GCSE-year">
    </div>
    <a  class="govuk-button secondary-button" href="javascript:addRow('otherGCSEDiv',['other-GCSE-type','other-GCSE-subject','other-GCSE-institute','other-GCSE-grade', 'other-GCSE-year'])">Add another</a>
    <div class="govuk-form-group" id="otherGCSEDiv" style="display:none;">
      <table class="govuk-table" id="otherGCSEDivTable">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">
            Type
          </th>
          <th class="govuk-table__header" scope="col">
            Subject
          </th>
          <th class="govuk-table__header" scope="col">
            Institute
          </th>
          <th class="govuk-table__header" scope="col">
            grade
          </th>
          <th class="govuk-table__header" scope="col">
            Year
          </th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        </tbody>
      </table>
    </div>

    <h3 class="govuk-heading-s form-secondary-section">A levels or equivalent</h3>
    <div class="govuk-form-group">
      <label class="govuk-label" for="other-alevel-type">
        Type
      </label>
      <span class="govuk-hint">
        A level or other, please specify
      </span>
      <input class="govuk-input" id="other-alevel-type" name="other-alevel-type" type="text" aria-describedby="other-alevel-type" value="{{data['other-alevel-type']}}">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="other-alevel-subject">
        Subject
      </label>
      <input class="govuk-input" id="other-alevel-subject" name="other-alevel-subject" type="text" aria-describedby="other-alevel-subject" value="{{data['other-alevel-subject']}}">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="other-alevel-institute">
        Institution where you studied
      </label>
      <input class="govuk-input" id="other-alevel-institute" name="other-alevel-institute" type="text" aria-describedby="other-alevel-institute" value="{{data['other-alevel-institute']}}">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="other-alevel-grade">
        Grade
      </label>
      <input class="govuk-input" id="other-alevel-grade" name="other-alevel-grade" type="text" aria-describedby="other-alevel-grade" value="{{data['other-alevel-grade']}}">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="other-alevel-year">
        Year
      </label>
      <input class="govuk-input address-box" id="other-alevel-year" name="other-alevel-year" type="text" aria-describedby="other-alevel-year" value="{{data['other-alevel-year']}}">
    </div>
    <a  class="govuk-button secondary-button" href="javascript:addRow('otherALevelDiv',['other-alevel-type','other-alevel-subject','other-alevel-institute','other-alevel-grade', 'other-alevel-year'])">Add another</a>
    <div class="govuk-form-group" id="otherALevelDiv" style="display:none;">
      <table class="govuk-table" id="otherALevelDivTable">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">
            Type
          </th>
          <th class="govuk-table__header" scope="col">
            Subject
          </th>
          <th class="govuk-table__header" scope="col">
            Institute
          </th>
          <th class="govuk-table__header" scope="col">
            grade
          </th>
          <th class="govuk-table__header" scope="col">
            Year
          </th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        </tbody>
      </table>
    </div>


    <h3 class="govuk-heading-s form-secondary-section">Arts, vocational or practical</h3>
    <div class="govuk-form-group">
      <label class="govuk-label" for="other-type">
        Type
      </label>
      <span class="govuk-hint">
        Foundation, BTECs, NVQs, City and Guilds, apprenticeships, musical grades, other, please specify
      </span>
      <input class="govuk-input" id="other-type" name="other-type" type="text" aria-describedby="other-type" value="{{data['other-type']}}">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="other-subject">
        Subject
      </label>
      <input class="govuk-input" id="other-subject" name="other-subject" type="text" aria-describedby="other-subject" value="{{data['other-subject']}}">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="other-institute">
        Institution where you studied
      </label>
      <input class="govuk-input" id="other-institute" name="other-institute" type="text" aria-describedby="other-institute" value="{{data['other-institute']}}">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="other-grade">
        Grade
      </label>
      <input class="govuk-input" id="other-grade" name="other-grade" type="text" aria-describedby="other-grade" value="{{data['other-grade']}}">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="other-year">
        Year
      </label>
      <input class="govuk-input address-box" id="other-year" name="other-year" type="text" aria-describedby="other-year" value="{{data['other-year']}}">
    </div>
    <a  class="govuk-button secondary-button" href="javascript:addRow('otherDiv',['other-type','other-subject','other-institute','other-grade', 'other-year'])">Add another</a>
    <div class="govuk-form-group" id="otherDiv" style="display:none;">
      <table class="govuk-table" id="otherDivTable">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">
            Type
          </th>
          <th class="govuk-table__header" scope="col">
            Subject
          </th>
          <th class="govuk-table__header" scope="col">
            Institute
          </th>
          <th class="govuk-table__header" scope="col">
            grade
          </th>
          <th class="govuk-table__header" scope="col">
            Year
          </th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        </tbody>
      </table>
    </div>

    <div class="govuk-form-group form-sub-section">
      <fieldset class="govuk-fieldset">
        <label class="govuk-label bold-label">
          Is there anything else you’d like to tell us about your qualifications?
        </label>
        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input {{checked('education-details','education-details-yes')}} class="govuk-radios__input" id="education-details-yes" name="education-details" type="radio" value="education-details-yes" onclick="educationDetails(this);">
            <label class="govuk-label govuk-radios__label" for="education-details-yes">
              Yes
            </label>
            <div id="education-details" style="display:none;" class="govuk-inset-text">
              <div class="govuk-form-group">
                <label class="govuk-label" for="reason">
                  Please give details
                </label>
                <textarea class="govuk-textarea" id="education-details-text" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
              </div>
            </div>
          </div>

          <div class="govuk-radios__item">
            <input {{checked('education-details','education-details-no')}} class="govuk-radios__input" id="education-details-no" name="education-details" type="radio" value="education-details-no" onclick="educationDetails(this);">
            <label class="govuk-label govuk-radios__label" for="education-details-no">
              No
            </label>
          </div>

        </div>
      </fieldset>
    </div>
  </form>
  </div>
</div>

<div class="govuk-grid-row actions-section">
  <div class="govuk-grid-column-two-thirds">
    <a href="javascript: submitForm()" class="govuk-button">Save and continue</a>
  </br>
  <a href="index.html">Cancel</a>
</div>
</div>
<script type="text/javascript">
moduleSuffix = 4;
ukOtherDegreeSuffix = 2;

window.onload = function(){
  if (!sessionStorage.sectionFlags)
  {
    sessionStorage.setItem('sectionFlags','1');
    sessionStorage.setItem('personalDetails','0');
    sessionStorage.setItem('contactDetails','0');
    sessionStorage.setItem('ukStatusDetails','0');
    sessionStorage.setItem('educationDetails','0');
    sessionStorage.setItem('workDetails','0');
    sessionStorage.setItem('ambitionsDetails','0');
  }
}
function submitForm()
{
  sessionStorage.setItem('educationDetails','1');
  document.forms['education_details_form'].submit();
}


function addRow(divID, fields)
{
  var index;
  var div = document.getElementById(divID);
  var table = document.getElementById(divID+"Table");
  var row = table.insertRow(-1);

  if(div.style.display == "none")
    div.style.display = "block";

  row.className = "govuk-table__row"

  for(index=0;index<fields.length;index++)
  {
    var cell = row.insertCell(index);
    cell.className = "govuk-table__cell";
    cell.innerHTML = document.getElementById(fields[index]).value;
    document.getElementById(fields[index]).name = fields[index]+ukOtherDegreeSuffix;
    document.getElementById(fields[index]).value = '';
  }
  ukOtherDegreeSuffix++;
}

function naricDetails(naricRadio,section,value)
{
  naric_details = document.getElementById(section);
  if(naricRadio.value == value && naricRadio.checked == true)
    naric_details.style.display = "block";
  else
    naric_details.style.display = "none";
}

function missing_GCSE(gcseCheckBox)
{
  convictionDetails = document.getElementById("missing-GCSE-details");
  if(gcseCheckBox.value=="missing-GCSE-yes" && gcseCheckBox.checked == true)
  {
    convictionDetails.style.display="block";
  }
  else
  {
    convictionDetails.style.display="none";
  }
}

function educationDetails(educationCheckBox)
{
  missingGCSEDetails = document.getElementById("education-details");
  if(educationCheckBox.value=="education-details-yes" && educationCheckBox.checked == true)
  {
    missingGCSEDetails.style.display="block";
  }
  else
  {
    missingGCSEDetails.style.display="none";
  }
}

function addModules()
{
  var div_of_modules = document.getElementById('listOfMudules');
  var div = document.createElement("div");
  div.innerHTML = "<input class=\"govuk-input subject-module\" name=\"subject-module"+moduleSuffix+"\" type=\"text\" aria-describedby=\"subject-module\">";

  div_of_modules.appendChild(div);
  moduleSuffix++;
}
</script>
{% endblock %}
