{% extends "layout.html" %}

{% block pageTitle %}
Home - Manage ITT applications
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
    beta
  </strong>
  <span class="govuk-phase-banner__text">
    This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
  </span>
</p>
</div>
<a href="#" class="govuk-back-link" onclick="window.history.back();">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Your application
    </h1>
    <h3 class="govuk-heading-m">You are applying for a PGCE in English at the Academies Enterprise Trust: South East</h3>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Course details
        </span>
      </summary>
      <div class="govuk-details__text">
        <div class="panel panel-border-narrow courseDetails">
          <table class="summaryTable">
            <tr>
              <td>Course name:</td>
              <td>Business studies</td>
            </tr>
            <tr>
              <td>Qualification:</td>
              <td>Postgraduate certificate in education (PGCE) with qualified teacher status (QTS)</td>
            </tr>
            <tr>
              <td>Training provider:</td>
              <td>Goldsmiths, University of London</td>
            </tr>
            <tr>
              <td>Salary:</td>
              <td>None</td>
            </tr>
            <tr>
              <td>Fee:</td>
              <td>£9,100</td>
            </tr>
            <tr>
              <td>Study type:</td>
              <td>Full time (12 months)</td>
            </tr>
            <tr>
              <td>Date course starts:</td>
              <td>26 September 2018</td>
            </tr>
            <tr>
              <td>Placement school preference:</td>
              <td>St. Mary's Primary School<br>40 Masbro Rd, Hammersmith, London W14 0LT</td>
            </tr>
          </table>

        </div>
      </div>
    </details>
    <h3 class="govuk-heading-m">Contents</h3>
    <ol class="application-section-list">
      <li>
        <a href="personal-details.html">Personal details</a>
        <span id="section0" style="display:none;"> COMPLETED</span>
      </li>
      <li>
        <a href="contact-details.html">Contact details</a>
        <span id="section1" style="display:none;"> COMPLETED</span>
      </li>
      <li>
        <a href="ukstatus.html">UK status</a>
        <span id="section2" style="display:none;"> COMPLETED</span>
      </li>
      <li>
        <a href="education.html">Education</a>
        <span id="section3" style="display:none;"> COMPLETED</span>
      </li>
      <li>
        <a href="work-history.html">Work history</a>
        <span id="section4" style="display:none;"> COMPLETED</span>
      </li>
      <li>
        <a href="experience-motivation.html">Experience and motivation</a>
        <span id="section5" style="display:none;"> COMPLETED</span>
      </li>
    </ol>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds application-section">
    <form action="/candidate/v05/index" id="personal_details_form" method="post" class="form">
      <button class="govuk-button">Submit application</button>
    </form>
  </div>
</div>

<script type="text/javascript">
window.onload = function(){
  if (sessionStorage.sectionFlags) {
    console.log(sessionStorage.contactDetails);
    if(sessionStorage.personalDetails == '1')
      document.getElementById('section0').style.display="block";
    if(sessionStorage.contactDetails == '1')
      document.getElementById('section1').style.display="block";
    if(sessionStorage.ukStatusDetails == '1')
      document.getElementById('section2').style.display="block";
    if(sessionStorage.educationDetails == '1')
      document.getElementById('section3').style.display="block";
    if(sessionStorage.workDetails == '1')
      document.getElementById('section4').style.display="block";
    if(sessionStorage.ambitionsDetails == '1')
      document.getElementById('section5').style.display="block";
  }
  else {
    sessionStorage.setItem('sectionFlags','1');
    sessionStorage.setItem('personalDetails','0');
    sessionStorage.setItem('contactDetails','0');
    sessionStorage.setItem('ukStatusDetails','0');
    sessionStorage.setItem('educationDetails','0');
    sessionStorage.setItem('workDetails','0');
    sessionStorage.setItem('ambitionsDetails','0');
  }
}
</script>
{% endblock %}
