{% extends "layout.html" %}

{% block pageTitle %}
Home - Manage ITT applications
{% endblock %}

{% block content %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
    beta
  </strong>
  <span class="govuk-phase-banner__text">
    This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
  </span>
</p>
</div>
<a href="#" class="govuk-back-link" onclick="window.history.back();">Back</a>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Work history
    </h1>

    <form action="work-history.html" id="work_details_form">
    <p>
      Please give us a complete breakdown of the last 5 years of your academic and professional life. Training providers use this information to:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        safeguard children
      </li>
      <li>
        get a more rounded sense of you as a candidate
      </li>
      <li>
        identify areas of knowledge or expertise you could bring to teaching
      </li>
    </ul>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          I have gaps in my work history when I wasn’t studying or working
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>
          If you took time off from work or study because of caring responsibilities, travel, a career break, or for personal, health or other reasons, please give us details. You should explain any gap longer than a month.
        </p>
        <div class="govuk-form-group">
          <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
        </div>
      </div>
    </details>
    <p>
      Start with your most recent position, and work backwards. If you did more than one job in the same period, list them both, one after the other.
    </p>

    <input type="hidden" name="numberOfWork"
    {% if data['numberOfWork'] %}
      value = "{{data['numberOfWork']}}"
    {% else %}
      value = "0"
    {% endif %}
    id="numberOfWork">


    <div class="govuk-form-group">
      <label class="govuk-label bold-label" for="jobTitle">
        Job title or study activity
      </label>
      <input value="{{data['jobTitle']}}" class="govuk-input" id="jobTitle" name="jobTitle" type="text" aria-describedby="job title">
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label bold-label" for="organisation">
        Organisation or place of study
      </label>
      <input class="govuk-input" id="organisation" name="organisation" type="text" aria-describedby="organisation">
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label bold-label">
        Job type
      </label>
      <div class="govuk-form-group">
        <div class="govuk-radios govuk-radios--inline">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="fullTime" name="fullTime" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="fullTime">
              Full time
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="partTime" name="partTime" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="partTime">
              Part time
            </label>
          </div>
        </div>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
          <label class="govuk-label bold-label">
            Start date
          </label>
          <span id="dob-hint" class="govuk-hint">
            For example, 3 2015
          </span>
          <div class="govuk-date-input" id="dob">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="startMonth">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2 undefined" id="startMonth" name="startMonth" type="number" pattern="[0-9]*">
              </div>
            </div>

            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="startYear">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4 undefined" id="startYear" name="startYear" type="number" pattern="[0-9]*">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
          <label class="govuk-label bold-label">
            End date
          </label>
          <span id="dob-hint" class="govuk-hint">
            For example, 3 2015
          </span>
          <div class="govuk-date-input" id="dob">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="endMonth">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2 undefined" id="endMonth" name="endMonth" type="number" pattern="[0-9]*">
              </div>
            </div>

            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="endYear">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4 undefined" id="endYear" name="endYear" type="number" pattern="[0-9]*">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <a class="govuk-button secondary-button" href="javascript: submitForm()">
          Add another
        </a>
      </div>

      <div class="govuk-form-group" id="workSection"
      {% if data['jobTitle1']%}
        style="display:block;"
      {% else %}
        style="display:none;"
        {% endif %}
      >
        <table class="govuk-table" id="workTable">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">
              Job title or study activity
            </th>
            <th class="govuk-table__header" scope="col">
              Organisation or place of study
            </th>
            <th class="govuk-table__header" scope="col">
              Job type
            </th>
            <th class="govuk-table__header" scope="col">
              Start date
            </th>
            <th class="govuk-table__header" scope="col">
              End date
            </th>
          </tr>
          </thead>
          <tbody class="govuk-table__body">
                {% for i in range(0, data['numberOfWork']) -%}
                  {% if data['jobTitle'+loop.index] %}
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">{{data['jobTitle'+loop.index]}}</td>
                      <td class="govuk-table__cell">{{data['organisation'+loop.index]}}</td>
                      <td class="govuk-table__cell">
                        {% if checked('fulltime'+loop.index,'yes') %}
                          Full time
                        {% else %}
                          Part time
                        {% endif %}
                      </td>
                      <td class="govuk-table__cell">{{data['startMonth'+loop.index]}},{{data['startYear'+loop.index]}}</td>
                      <td class="govuk-table__cell">{{data['endMonth'+loop.index]}},{{data['endYear'+loop.index]}}</td>
                    </tr>
                  {%  endif %}
                {%- endfor %}
          </tbody>
        </table>
      </div>

      <div class="govuk-form-group form-sub-section">
        <fieldset class="govuk-fieldset">
          <label class="govuk-label bold-label">
            Is there anything else you’d like to tell us about your work history?
          </label>
          <span class="govuk-hint">
            For example, skills, experience, volunteering or part-time work which support your application.
          </span>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input {{checked('work-details','work-details-yes')}} class="govuk-radios__input" id="work-details-yes" name="work-details" type="radio" value="work-details-yes" onclick="showWorkDetails(this)">
              <label class="govuk-label govuk-radios__label" for="work-details-yes">
                Yes
              </label>
              <div class="govuk-inset-text" id="workDetails"
              {% if checked('work-details','work-details-yes') %}
                style="display:block;"
              {% else %}
                style="display:none;"
              {% endif %}

              >
                <div class="govuk-form-group">
                  <label class="govuk-label" for="work-detail">
                    Please give details
                  </label>
                  <textarea class="govuk-textarea" id="work-detail-description" name="work-detail-description" rows="5" aria-describedby="more-detail-hint">{{data['work-detail-description']}}</textarea>
                </div>
              </div>
            </div>
            <div class="govuk-radios__item">
              <input {{checked('work-details','work-details-no')}} class="govuk-radios__input" id="work-details-no" name="work-details" type="radio" value="work-details-no" onclick="showWorkDetails(this)">
              <label class="govuk-label govuk-radios__label" for="work-details-no">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

    </div>
  </form>
  </div>
</div>

<div class="govuk-grid-row actions-section">
  <div class="govuk-grid-column-two-thirds">
    <a href="javascript:submitForm()" class="govuk-button">Save and continue</a>
  </br>
  <a href="index.html">Cancel</a>
</div>
</div>

<script type="text/javascript">

window.onload = function(){
  var http = new XMLHttpRequest();
  if (!sessionStorage.sectionFlags)
  {
    sessionStorage.setItem('sectionFlags','1');
    sessionStorage.setItem('personalDetails','0');
    sessionStorage.setItem('contactDetails','0');
    sessionStorage.setItem('ukStatusDetails','0');
    sessionStorage.setItem('educationDetails','0');
    sessionStorage.setItem('workDetails','0');
    sessionStorage.setItem('ambitionsDetails','0');
  }
  var nameSuffix = parseInt(document.getElementById('numberOfWork').value) + 1;
  document.getElementById('jobTitle').name = "jobTitle" + nameSuffix;
  document.getElementById('organisation').name = "organisation" + nameSuffix;
  document.getElementById('fullTime').name = "fulltime" + nameSuffix;
  document.getElementById('partTime').name = "fulltime" + nameSuffix;
  document.getElementById('startMonth').name = "startMonth" + nameSuffix;
  document.getElementById('startYear').name = "startYear" + nameSuffix;
  document.getElementById('endMonth').name = "endMonth" + nameSuffix;
  document.getElementById('endYear').name = "endYear" + nameSuffix;
}
function submitForm()
{
  console.log("Submitting the form");
  sessionStorage.setItem('workDetails','1');
  document.getElementById('numberOfWork').value = parseInt(document.getElementById('numberOfWork').value) + 1 ;
  document.forms['work_details_form'].submit();
}

function addWork()
{
  console.log('adding');
  var wtable = document.getElementById("workTable");
  var row = wtable.insertRow(-1);
  var titleCell = row.insertCell(0);
  var orgCell = row.insertCell(1);
  var typeCell = row.insertCell(2);
  var startCell = row.insertCell(3);
  var endCell = row.insertCell(4);
  var wSection = document.getElementById("workSection");
  var nameSuffix = document.getElementById('numberOfWork').value;

  row.className = "govuk-table__row";

  if(wSection.style.display == "none")
    wSection.style.display = "block";

  row.className = "govuk-table__row";

  titleCell.className = "govuk-table__cell";
  orgCell.className = "govuk-table__cell";
  typeCell.className = "govuk-table__cell";
  startCell.className = "govuk-table__cell";
  endCell.className = "govuk-table__cell";

  titleCell.innerHTML = document.getElementById('jobTitle').value;
  document.getElementById('jobTitle').value = '';
  document.getElementById('jobTitle').name = "jobTitle" + nameSuffix;
  orgCell.innerHTML = document.getElementById('organisation').value;
  document.getElementById('organisation').value = '';
  document.getElementById('organisation').name = "organisation" + nameSuffix;
  if(document.getElementById('fullTime').checked == true)
  {
    typeCell.innerHTML = "Full time";
    document.getElementById('fullTime').checked = false;
    document.getElementById('fullTime').name = "fullTime" + nameSuffix;
  }
  else if(document.getElementById('partTime').checked == true)
  {
    typeCell.innerHTML = "Part time";
    document.getElementById('partTime').checked = false;
    document.getElementById('partTime').name = "partTime" + nameSuffix;
  }
  startCell.innerHTML = document.getElementById('startMonth').value + ', ' + document.getElementById('startYear').value;
  document.getElementById('startMonth').value = '';
  document.getElementById('startMonth').name = "startMonth" + nameSuffix;
  document.getElementById('startYear').value = '';
  document.getElementById('startYear').name = "startYear" + nameSuffix;
  endCell.innerHTML = document.getElementById('endMonth').value + ', ' + document.getElementById('endYear').value;
  document.getElementById('endMonth').value = '';
  document.getElementById('endMonth').name = "endMonth" + nameSuffix;
  document.getElementById('endYear').value = '';
  document.getElementById('endYear').name = "endYear" + nameSuffix;
  document.getElementById('numberOfWork').value = parseInt(nameSuffix) + 1;
}

function showWorkDetails(workDetailsRadio)
{
  workDetailsSection = document.getElementById('workDetails');
  if(workDetailsRadio.value == 'work-details-yes')
    workDetailsSection.style.display="block";
  else
    workDetailsSection.style.display="none";
}
</script>
{% endblock %}
