
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Apply for teaher training prototypes
        </h1>
        <p class="govuk-body">
          <a href="/candidate/v05/index" class="govuk-link">Candidate application form</a>
        </p>
        <p class="govuk-body">
          <a href="/provider/v01/index" class="govuk-link">Provider v1</a>
        </p>
        <p class="govuk-body">
          <a href="/provider/v02/index" class="govuk-link">Provider v2</a>
        </p>
      </div>
    </div>
  </main>
</div>

{% endblock %}
